/* HTML Element */
body {
    background-color: cornsilk;
    margin: 0 10%;
}
h1{
    text-align: center;
    font-size: 100px;
    color: cornsilk;
    font-family: 'Monoton', cursive;
    background-color: rgb(25, 26, 25);
    padding-bottom: 1%;
    
}

p {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: rgb(114, 109, 87);
    font-size: 15px;
}


img {
    max-width: 150px;
    height:auto;
    margin: 5% auto 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Class */

.fourth {
    margin: 0% 30% 5%;
}
.fifth {
    margin: 0% 30% 5%;
}


